@use '../../index.scss' as *;

.incomes {
    // padding: 20px;
    // background-color: rgb(234, 0, 255);

    .form {
        display: flex;
        gap: 10px;

        .categorySelector {
            select {
                font-size: 17px;
                color: $text-color;
                border: 1px solid #EEE;
                box-shadow: 15px 20px 45px 0px rgba(233, 2333, 233, 0.25);
                border-radius: 10px;
                padding: 10px;
            }
        }
    }

    .charts {
        display: flex;

        .incomes-list {
            ul {
                li {
                    padding: 5px;
                }
                button {
                    margin-left: 10px;
                }
            }
        }
    }
}